<div class="pageContent bikes">
    <h1>{{title}} Bikes</h1>

    {{{photos}}}

    <div class="description module">
        {{{description}}}
    </div>

    <div class="features module">
        <h3>Features</h3>
        <div class="content">
            <ul>
            {{#features}}
                <li>{{feature}}</li>
            {{/features}}
            </ul>
        </div>
    </div>

    <div class="tubing module">
        <h3>Tubing &amp; Pricing</h3>
        <div class="content">
            <ul>
                {{#tubing}}
                <li>{{item}}</li>
                {{/tubing}}
            </ul>
        </div>
    </div>

    {{{faq}}}

    {{{geometry}}}
</div>