<html>
<body>
<h1>DeSalvo Custom Cycles Contact Request</h1>
<p><strong>Department</strong>: {{contact_department}}</p>
<p><strong>Name</strong>: {{contact_name}}</p>
<p><strong>Email</strong>: {{contact_email}}</p>

<h4>Message:</h4>
<p>{{contact_comment}}</p>
</body>
</html>