<div class="wrap global_settings">

    <div id="icon-options-general" class="icon32"><br></div>
    <h2>Global Settings | DeSalvo Custom Cycles</h2>

    <p id="updateMessage"></p>

    <form id="globalSettings">
        <label for="primary_email">Primary Email</label>
        <input type="text" id="primary_email" name="primary_email" value="{{primary_email}}" />

        <label for="webmaster_email">Webmaster Email</label>
        <input type="text" id="webmaster_email" name="webmaster_email" value="{{webmaster_email}}" />

        <input id="save_global_settings" type="submit" class="button-primary" value="Submit" />
    </form>
</div>