<div class="pageContent {{name}}">
    <h1>{{title}}</h1>
    {{#content}}
        {{{content}}}
    {{/content}}

    <ul>
    {{#partners}}
        <li><a href="{{partner_link}}">{{partner_name}}</a></li>
    {{/partners}}
    </ul>
</div>